<main>
  Dashboard content here.
  <p>
    A dashboard usually contains items of some importance, that need to be addressed
    right away: notices to be sent, reports that need to be completed, newly submitted
    loan applications, etc.
  </p>
  <p>
    To the left, a nav bar shows other topics that may be of interest to the user. Where
    I'm using placeholders, selections may include such things as Clients, Projects, and
    Users for a business app, Men, Women, and Kids for a shopping app, or Campaigns,
    Characters, and Games for a table-top roleplaying app.
  </p>
  <p>
    Fantasy and Reality demonstrate the use of collapsible panels, or accordions. Clicking
    as the arrow points downward will expand the panel, while clicking as the arrow points
    upward will collapse the panel.
  </p>
  <p>
    Stuff will switch to a sub-menu of topics related to, but not belonging amongst, the
    items at the top level. If named Children, for example, selecting it could open a new nav
    bar showing such things as Books, Shoes, and Toys.
  </p>
</main>
