<main>
  Dashboard content here.
  <p>
    A dashboard usually contains items of some importance, that need to be addressed
    right away: notices to be sent, reports that need to be completed, newly submitted
    loan applications, etc.
  </p>
  <p>
    To the left, a nav bar shows other topics that may be of interest to the user. In this
    sample app, I'm loading placeholder Monster and Race data from the Dungeons &amp; Dragons
    5e SRD. The data is loaded from a query to the backend.
  </p>
  <p>
    The nav bar can be hidden and shown using the panel collapse or expand icons at the upper
    left, and also responds to changes in page size, overlapping the content when the width
    is below 551px.
  </p>
  <p>
    Finally, context-sensitive help can be seen by clicking the ? icon to the upper right,
    and the user can log out by clicking the menu to the right of the ? icon.
  </p>
  <!-- <p>
    Stuff will switch to a sub-menu of topics related to, but not belonging amongst, the
    items at the top level. If named Children, for example, selecting it could open a new nav
    bar showing such things as Books, Shoes, and Toys.
  </p> -->
</main>

<ng-template #helpTemplate>
  <h3>Dashboard</h3>
  <p>
    This is where help text for the Dashboard would be displayed.
  </p>
</ng-template>
