<mat-toolbar color="primary">

  <section>
    <span class="title">Angular Standalone</span>
  </section>
  @if (isAuthenticated) {
    <section [matMenuTriggerFor]="userMenu">
      <span>Username</span>
      <mat-icon>menu</mat-icon>
    </section>
    <!-- <section>
      <mat-icon>help</mat-icon>
    </section> -->
  } @else {
    <section (click)="login()">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </section>
  }
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-menu>

</mat-toolbar>
