mat-toolbar {
  display: flex;
  justify-content: space-between;
  // material overrides
  // default font and toolbar height are larger than i prefer
  // font-family: var(--app-font-family);
  font-size: var(--app-font-size);
  height: var(--toolbar-height);
  // --
  section, div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    div {
      cursor: pointer;
      &:active {
        color: #ccc;
      }
    }
    // span.title {
    //   font-size: 1rem;
    // }
  }
}

// material overrides
// to align menu item text and icon
// ::ng-deep .mat-mdc-menu-item-text {
//   display: flex;
//   gap: 0.5rem;
// }

section#help {
  font-size: 0.8rem;
  padding: 0rem 1rem;
  // text-align: justify;
  line-height: 1.5;
  & h3 {
    margin-bottom: 0.5rem;
  }
}
