<mat-toolbar color="primary">

  <section>
    @if (isAuthenticated) {
      <div (click)="toggleNav()">
        <mat-icon>menu</mat-icon>
      </div>
    }
    <div>
      <span class="title">Angular Standalone</span>
    </div>
  </section>
  @if (isAuthenticated) {
    <section>
      <div>
        <mat-icon>help</mat-icon>
      </div>
      <div [matMenuTriggerFor]="userMenu">
        <!-- <span>Username</span> -->
        <mat-icon>menu</mat-icon>
      </div>
    </section>
  } @else {
    <section (click)="login()">
      <div>
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </div>
    </section>
  }
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
      <mat-icon>logout</mat-icon>
    </button>
  </mat-menu>

</mat-toolbar>
