<main>
  <section class="nav">
    <mat-nav-list>
      <!-- note that we refer back to the dashboard on the home nav pane -->
      <a mat-list-item routerLink="dashboard"><span class="home-nav"><mat-icon>arrow_back</mat-icon>Back</span></a>
      <a mat-list-item routerLink="doodads" routerLinkActive="mat-primary active">Doodads</a>
      <a mat-list-item routerLink="gizmos" routerLinkActive="mat-primary active">Gizmos</a>
      <a mat-list-item routerLink="widgets" routerLinkActive="mat-primary active">Widgets</a>
    </mat-nav-list>
    </section>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
