<main>
  <h3>Welcome to Angular Standalone</h3>
  <p>
    This is a sample Angular application, using standalone components introduced
    in Angular 15, and Angular Material for visual design. I've used this layout
    for multiple projects, as it's straightforward and easily understood by
    users. The sample serves as a starting point for future projects.
  </p>
  <p>
    A welcome page gives users a description of the app and prompts them to log in,
    though the welcome page may be dropped in favor of sending users directly to
    login.
  </p>
  <p>
    Go ahead and log in. The sample app is not connected to a back end service, so
    does not actually perform any login verification. Any email and password will do.
  </p>
  <p class="attribution">
    This work includes material taken from the
    <a href="https://dnd.wizards.com/resources/systems-reference-document" target="_blank">Systems Reference Document 5.1</a>
    ("SRD 5.1") by Wizards of the Coast LLC. The SRD 5.1 is licensed under the
    <a href="https://creativecommons.org/licenses/by/4.0/legalcode" target="_blank">Creative Commons Attribution 4.0 International License</a>.
  </p>
</main>
