main {
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 10%;
  padding: 1rem;
  text-align: justify;
}

.attribution {
  font-style: italic;
  font-size: smaller;
  padding-top: 0.5rem;
  margin-top: 2rem;
  border-top: thin solid grey;
}
