<main>
  <h3>Welcome to Angular Standalone</h3>
  <p>
    This is a sample Angular application, using Angular the standalone components
    introduced in Angular 15, and Angular Material for visual design. I've used this
    layout for multiple projects, as it's straightforward and easily understood by
    users. The skeleton serves as a starting point for future projects.
  </p>
  <p>
    A welcome page gives users a description of the app and prompts them to log in,
    though the welcome page may be dropped in favor of sending users directly to
    login.
  </p>
  <p>
    Go ahead and log in. The sample app is not connected to a back end service, so
    does not actually perform any login verification. Any email and password will do.
  </p>
</main>
