:host {
  // remove rounding from the nav list buttons
  --mat-list-active-indicator-shape: none;
  // override the nav list item text size
  // --mdc-list-list-item-label-text-size: var(--app-font-size);
}

main {
  display: flex;
  // this needs to be min-height so that the height of the nav will be the same as
  // the populated content, should the content cause the page to scroll. also, we
  // subtract toolbar height so that a non-populated page won't scroll the height
  // of the toolbar
  min-height: calc(100% - var(--toolbar-height));
}

mat-sidenav-container {
  min-height: calc(100% - var(--toolbar-height));
}

// material override
// otherwise there will be padding above and below the nav pane
mat-nav-list {
  padding: 0;
}

section {
  &.nav {
    border-right: 1px solid #3f51b57f; // TODO: theme this to use palette primary
    user-select: none;
    a {
      min-width: 180px;
      max-width: 220px;
    }
    a.active {
      background-color: var(--nav-active);
    }
  }
  &.content {
    width: 100%;
    padding: 1rem;
  }
}

mat-sidenav {
  background-color: #fcfcff; // a very pale purple
}

.nav {
  border-right: 1px solid #3f51b57f; // TODO: theme this to use palette primary
  user-select: none;
  a {
    // min-width: 180px;
    max-width: 220px;
  }
  a.active {
    background-color: var(--nav-active);
  }
}
.content {
  max-width: 100%;
  padding: 1rem;
}

// positioning the sub-nav arrow to the right
span.sub-nav {
  display: flex;
  justify-content: space-between;
}

span.item-name {
  // display: none;
  padding-right: 2rem;
}
